asgiref==3.6.0
blinker==1.4
certifi==2022.12.7
charset-normalizer==3.1.0
command-not-found==0.3
cryptography==3.4.8
dbus-python==1.2.18
distlib==0.3.6
distro==1.7.0
distro-info===1.1build1
Django==4.1.7
filelock==3.6.0
httplib2==0.20.2
idna==3.4
importlib-metadata==4.6.4
jeepney==0.7.1
keyring==23.5.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
more-itertools==8.10.0
netifaces==0.11.0
numpy==1.24.2
oauthlib==3.2.0
pandas==1.5.3
pbr==5.11.1
platformdirs==2.5.1
PyGObject==3.42.1
PyJWT==2.3.0
pyparsing==2.4.7
python-apt==2.4.0+ubuntu1
python-dateutil==2.8.2
pytz==2022.7.1
PyYAML==5.4.1
requests==2.28.2
scipy==1.10.1
SecretStorage==3.3.1
six==1.16.0
sklearn==0.0.post1
sparse-dot-topn==0.3.4
sqlparse==0.4.3
stevedore==5.0.0
systemd-python==234
ubuntu-advantage-tools==8001
ufw==0.36.1
unattended-upgrades==0.1
urllib3==1.26.15
virtualenv==20.20.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
wadllib==1.3.6
zipp==1.0.0
